@using MvcCv.Models.Entity
@model List<TblSosyalMedya>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    string durum = "";
}

@{
    string buttonRenk = "";
}

@{
    string buttonYazi = "";
}

@{
    string buttonIkon = "";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Yetenek Listem</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                               <button class="btn btn-info" data-toggle="modal" data-target="#Modal1"> Yeni Sosyal Medya Hesabı ekle</button>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                           
                                           
                                            <th style="width: 30px">Sosyal Medya</th>
                                            <th style="width: 30px">Durum</th>
                                            <th style="width: 30px">Düzenle</th>
                                            <th style="width: 30px">Sil</th>
                                            

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)

                                        {

                                            if (item.Durum == true)

                                            {

                                                durum = "Aktif";

                                                buttonRenk = "btn btn-danger btn-sm";

                                                buttonYazi = "Pasif Yap";

                                                buttonIkon = "fas fa-trash";

                                            }

                                            else

                                            {

                                                durum = "Pasif";

                                                buttonRenk = "btn btn-success btn-sm";

                                                buttonYazi = "Aktif Yap";

                                                buttonIkon = "fas fa-upload";

                                            }

                                            <tr>

                                                <td>@item.ID</td>

                                                <td>@item.Ad</td>

                                                <td>@durum</td>

                                                <td>

                                                    <a class="btn btn-info btn-sm" href="/SosyalMedya/Duzenle/@item.ID">

                                                        <i class="fas fa-pencil-alt"></i>

                                                        Düzenle

                                                    </a>

                                                </td>

                                                <td>

                                                    <a class="@buttonRenk" href="/SosyalMedya/Sil/@item.ID">

                                                        <i class="@buttonIkon"></i>

                                                        @buttonYazi

                                                    </a>

                                                </td>

                                            </tr>

                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->

        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content"> @*pop içindeki çizgi oluştu*@
                    <div class="modal-header">
                        <h2 class="modal-title">sosyal medya ekleme paneli</h2>
                    </div>
                    <form method="post" action="/SosyalMedya/Ekle">
                    <div class="modal-body">
                        <label>sosyal medya ismi</label>
                        <input type="text" name="Ad" class="form-control" />
                        <br />
                            <label>sosyal medya Linki</label>
                            <input type="text" name="Link" class="form-control" />
                            <br />

                            <label>İkon değeri</label>
                            <input type="text" name="İkon" class="form-control" />
                            <br />
                            <button class="btn btn-info">Kaydet</button>
                    </div>    
                    </form>
                </div>
            </div>

        </div>

    </div>
</body>
</html>
